EjecucionC#/bin/Debug/net5.0/EjecucionC#.deps.json
EjecucionC#/bin/Debug/net5.0/EjecucionC#.dll
EjecucionC#/bin/Debug/net5.0/EjecucionC#.exe
EjecucionC#/bin/Debug/net5.0/EjecucionC#.pdb
EjecucionC#/bin/Debug/net5.0/EjecucionC#.runtimeconfig.dev.json
EjecucionC#/bin/Debug/net5.0/EjecucionC#.runtimeconfig.json
EjecucionC#/bin/Debug/net5.0/ref/EjecucionC#.dll
EjecucionC#/obj/EjecucionC#.csproj.nuget.dgspec.json
EjecucionC#/obj/EjecucionC#.csproj.nuget.g.props
EjecucionC#/obj/EjecucionC#.csproj.nuget.g.targets
EjecucionC#/obj/project.assets.json
EjecucionC#/obj/project.nuget.cache
EjecucionC#/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
EjecucionC#/obj/Debug/net5.0/apphost.exe
EjecucionC#/obj/Debug/net5.0/EjecucionC#.AssemblyInfo.cs
EjecucionC#/obj/Debug/net5.0/EjecucionC#.AssemblyInfoInputs.cache
EjecucionC#/obj/Debug/net5.0/EjecucionC#.assets.cache
EjecucionC#/obj/Debug/net5.0/EjecucionC#.csproj.AssemblyReference.cache
EjecucionC#/obj/Debug/net5.0/EjecucionC#.csproj.CoreCompileInputs.cache
EjecucionC#/obj/Debug/net5.0/EjecucionC#.csproj.FileListAbsolute.txt
EjecucionC#/obj/Debug/net5.0/EjecucionC#.dll
EjecucionC#/obj/Debug/net5.0/EjecucionC#.GeneratedMSBuildEditorConfig.editorconfig
EjecucionC#/obj/Debug/net5.0/EjecucionC#.genruntimeconfig.cache
EjecucionC#/obj/Debug/net5.0/EjecucionC#.pdb
EjecucionC#/obj/Debug/net5.0/ref/EjecucionC#.dll
Programa01_01Interfaces/bin/Debug/ConsoleApp1.exe
Programa01_01Interfaces/bin/Debug/ConsoleApp1.exe.config
Programa01_01Interfaces/bin/Debug/ConsoleApp1.pdb
Programa01_01Interfaces/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Programa01_01Interfaces/obj/Debug/ConsoleApp1.csproj.CoreCompileInputs.cache
Programa01_01Interfaces/obj/Debug/ConsoleApp1.csprojAssemblyReference.cache
Programa01_01Interfaces/obj/Debug/ConsoleApp1.exe
Programa01_01Interfaces/obj/Debug/ConsoleApp1.pdb
Programa01_01Interfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa01_01Interfaces/obj/Debug/Programa01_01.csproj.CoreCompileInputs.cache
Programa01_01Interfaces/obj/Debug/Programa01_01.csproj.FileListAbsolute.txt
Programa01_01Interfaces/obj/Debug/Programa01_01.csprojAssemblyReference.cache
Programa01_01Interfaces/obj/Debug/Programa01_01Interfaces.csproj.AssemblyReference.cache
Programa01_01Interfaces/obj/Debug/Programa01_01Interfaces.csproj.CoreCompileInputs.cache
Programa01_01Interfaces/obj/Debug/Programa01_01Interfaces.csproj.FileListAbsolute.txt
Programa01_01Interfaces/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Programa01_01Interfaces/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Programa01_01Interfaces/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Programa01_02IEnumerable/bin/Debug/Programa01_02IEnumerable.exe
Programa01_02IEnumerable/bin/Debug/Programa01_02IEnumerable.exe.config
Programa01_02IEnumerable/bin/Debug/Programa01_02IEnumerable.pdb
Programa01_02IEnumerable/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Programa01_02IEnumerable/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa01_02IEnumerable/obj/Debug/Programa01_02IEnumerable.csproj.AssemblyReference.cache
Programa01_02IEnumerable/obj/Debug/Programa01_02IEnumerable.csproj.CoreCompileInputs.cache
Programa01_02IEnumerable/obj/Debug/Programa01_02IEnumerable.csproj.FileListAbsolute.txt
Programa01_02IEnumerable/obj/Debug/Programa01_02IEnumerable.csprojAssemblyReference.cache
Programa01_02IEnumerable/obj/Debug/Programa01_02IEnumerable.exe
Programa01_02IEnumerable/obj/Debug/Programa01_02IEnumerable.pdb
Programa01_02IEnumerable/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Programa01_02IEnumerable/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Programa01_02IEnumerable/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Programa01_03IEnumerable/bin/Debug/Programa01_03IEnumerable.exe
Programa01_03IEnumerable/bin/Debug/Programa01_03IEnumerable.exe.config
Programa01_03IEnumerable/bin/Debug/Programa01_03IEnumerable.pdb
Programa01_03IEnumerable/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Programa01_03IEnumerable/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa01_03IEnumerable/obj/Debug/Programa01_03IEnumerable.csproj.AssemblyReference.cache
Programa01_03IEnumerable/obj/Debug/Programa01_03IEnumerable.csproj.CoreCompileInputs.cache
Programa01_03IEnumerable/obj/Debug/Programa01_03IEnumerable.csproj.FileListAbsolute.txt
Programa01_03IEnumerable/obj/Debug/Programa01_03IEnumerable.csprojAssemblyReference.cache
Programa01_03IEnumerable/obj/Debug/Programa01_03IEnumerable.exe
Programa01_03IEnumerable/obj/Debug/Programa01_03IEnumerable.pdb
Programa01_03IEnumerable/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Programa01_03IEnumerable/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Programa01_03IEnumerable/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Programa01_04IClonable/bin/Debug/Programa01_04IClonable.exe
Programa01_04IClonable/bin/Debug/Programa01_04IClonable.exe.config
Programa01_04IClonable/bin/Debug/Programa01_04IClonable.pdb
Programa01_04IClonable/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Programa01_04IClonable/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa01_04IClonable/obj/Debug/Programa01_04IClonable.csproj.CoreCompileInputs.cache
Programa01_04IClonable/obj/Debug/Programa01_04IClonable.csproj.FileListAbsolute.txt
Programa01_04IClonable/obj/Debug/Programa01_04IClonable.csprojAssemblyReference.cache
Programa01_04IClonable/obj/Debug/Programa01_04IClonable.exe
Programa01_04IClonable/obj/Debug/Programa01_04IClonable.pdb
Programa01_04IClonable/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Programa01_04IClonable/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Programa01_04IClonable/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Programa01_05IComparable/bin/Debug/Programa01_05IComparable.exe
Programa01_05IComparable/bin/Debug/Programa01_05IComparable.exe.config
Programa01_05IComparable/bin/Debug/Programa01_05IComparable.pdb
Programa01_05IComparable/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Programa01_05IComparable/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa01_05IComparable/obj/Debug/Programa01_05IComparable.csproj.AssemblyReference.cache
Programa01_05IComparable/obj/Debug/Programa01_05IComparable.csproj.CoreCompileInputs.cache
Programa01_05IComparable/obj/Debug/Programa01_05IComparable.csproj.FileListAbsolute.txt
Programa01_05IComparable/obj/Debug/Programa01_05IComparable.csprojAssemblyReference.cache
Programa01_05IComparable/obj/Debug/Programa01_05IComparable.exe
Programa01_05IComparable/obj/Debug/Programa01_05IComparable.pdb
Programa01_05IComparable/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Programa01_05IComparable/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Programa01_05IComparable/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Programa02_01Sink (CallBack)/bin/Debug/Programa02_01Sink (CallBack).exe
Programa02_01Sink (CallBack)/bin/Debug/Programa02_01Sink (CallBack).exe.config
Programa02_01Sink (CallBack)/bin/Debug/Programa02_01Sink (CallBack).pdb
Programa02_01Sink (CallBack)/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Programa02_01Sink (CallBack)/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa02_01Sink (CallBack)/obj/Debug/Programa02_01Sink (CallBack).csproj.AssemblyReference.cache
Programa02_01Sink (CallBack)/obj/Debug/Programa02_01Sink (CallBack).csproj.CoreCompileInputs.cache
Programa02_01Sink (CallBack)/obj/Debug/Programa02_01Sink (CallBack).csproj.FileListAbsolute.txt
Programa02_01Sink (CallBack)/obj/Debug/Programa02_01Sink (CallBack).csprojAssemblyReference.cache
Programa02_01Sink (CallBack)/obj/Debug/Programa02_01Sink (CallBack).exe
Programa02_01Sink (CallBack)/obj/Debug/Programa02_01Sink (CallBack).pdb
Programa02_01Sink (CallBack)/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Programa02_01Sink (CallBack)/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Programa02_01Sink (CallBack)/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Programa02_02Sink (CallBack)/bin/Debug/net5.0/Programa02_02Sink (CallBack).deps.json
Programa02_02Sink (CallBack)/bin/Debug/net5.0/Programa02_02Sink (CallBack).dll
Programa02_02Sink (CallBack)/bin/Debug/net5.0/Programa02_02Sink (CallBack).exe
Programa02_02Sink (CallBack)/bin/Debug/net5.0/Programa02_02Sink (CallBack).pdb
Programa02_02Sink (CallBack)/bin/Debug/net5.0/Programa02_02Sink (CallBack).runtimeconfig.dev.json
Programa02_02Sink (CallBack)/bin/Debug/net5.0/Programa02_02Sink (CallBack).runtimeconfig.json
Programa02_02Sink (CallBack)/bin/Debug/net5.0/ref/Programa02_02Sink (CallBack).dll
Programa02_02Sink (CallBack)/obj/Programa02_02Sink (CallBack).csproj.nuget.dgspec.json
Programa02_02Sink (CallBack)/obj/Programa02_02Sink (CallBack).csproj.nuget.g.props
Programa02_02Sink (CallBack)/obj/Programa02_02Sink (CallBack).csproj.nuget.g.targets
Programa02_02Sink (CallBack)/obj/project.assets.json
Programa02_02Sink (CallBack)/obj/project.nuget.cache
Programa02_02Sink (CallBack)/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Programa02_02Sink (CallBack)/obj/Debug/net5.0/apphost.exe
Programa02_02Sink (CallBack)/obj/Debug/net5.0/Programa02_02Sink (CallBack).AssemblyInfo.cs
Programa02_02Sink (CallBack)/obj/Debug/net5.0/Programa02_02Sink (CallBack).AssemblyInfoInputs.cache
Programa02_02Sink (CallBack)/obj/Debug/net5.0/Programa02_02Sink (CallBack).assets.cache
Programa02_02Sink (CallBack)/obj/Debug/net5.0/Programa02_02Sink (CallBack).csproj.AssemblyReference.cache
Programa02_02Sink (CallBack)/obj/Debug/net5.0/Programa02_02Sink (CallBack).csproj.CoreCompileInputs.cache
Programa02_02Sink (CallBack)/obj/Debug/net5.0/Programa02_02Sink (CallBack).csproj.FileListAbsolute.txt
Programa02_02Sink (CallBack)/obj/Debug/net5.0/Programa02_02Sink (CallBack).dll
Programa02_02Sink (CallBack)/obj/Debug/net5.0/Programa02_02Sink (CallBack).GeneratedMSBuildEditorConfig.editorconfig
Programa02_02Sink (CallBack)/obj/Debug/net5.0/Programa02_02Sink (CallBack).genruntimeconfig.cache
Programa02_02Sink (CallBack)/obj/Debug/net5.0/Programa02_02Sink (CallBack).pdb
Programa02_02Sink (CallBack)/obj/Debug/net5.0/ref/Programa02_02Sink (CallBack).dll
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa02_04DelegadoSencillo.deps.json
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa02_04DelegadoSencillo.dll
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa02_04DelegadoSencillo.exe
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa02_04DelegadoSencillo.pdb
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa02_04DelegadoSencillo.runtimeconfig.dev.json
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa02_04DelegadoSencillo.runtimeconfig.json
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa03_04DelegadoSencillo.deps.json
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa03_04DelegadoSencillo.dll
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa03_04DelegadoSencillo.exe
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa03_04DelegadoSencillo.pdb
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa03_04DelegadoSencillo.runtimeconfig.dev.json
Programa02_04DelegadoSencillo/bin/Debug/net5.0/Programa03_04DelegadoSencillo.runtimeconfig.json
Programa02_04DelegadoSencillo/bin/Debug/net5.0/ref/Programa02_04DelegadoSencillo.dll
Programa02_04DelegadoSencillo/bin/Debug/net5.0/ref/Programa03_04DelegadoSencillo.dll
Programa02_04DelegadoSencillo/obj/Programa02_04DelegadoSencillo.csproj.nuget.dgspec.json
Programa02_04DelegadoSencillo/obj/Programa02_04DelegadoSencillo.csproj.nuget.g.props
Programa02_04DelegadoSencillo/obj/Programa02_04DelegadoSencillo.csproj.nuget.g.targets
Programa02_04DelegadoSencillo/obj/Programa03_04DelegadoSencillo.csproj.nuget.dgspec.json
Programa02_04DelegadoSencillo/obj/Programa03_04DelegadoSencillo.csproj.nuget.g.props
Programa02_04DelegadoSencillo/obj/Programa03_04DelegadoSencillo.csproj.nuget.g.targets
Programa02_04DelegadoSencillo/obj/project.assets.json
Programa02_04DelegadoSencillo/obj/project.nuget.cache
Programa02_04DelegadoSencillo/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Programa02_04DelegadoSencillo/obj/Debug/net5.0/apphost.exe
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa02_04DelegadoSencillo.AssemblyInfo.cs
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa02_04DelegadoSencillo.AssemblyInfoInputs.cache
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa02_04DelegadoSencillo.assets.cache
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa02_04DelegadoSencillo.csproj.AssemblyReference.cache
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa02_04DelegadoSencillo.csproj.CoreCompileInputs.cache
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa02_04DelegadoSencillo.csproj.FileListAbsolute.txt
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa02_04DelegadoSencillo.dll
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa02_04DelegadoSencillo.GeneratedMSBuildEditorConfig.editorconfig
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa02_04DelegadoSencillo.genruntimeconfig.cache
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa02_04DelegadoSencillo.pdb
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa03_04DelegadoSencillo.AssemblyInfo.cs
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa03_04DelegadoSencillo.AssemblyInfoInputs.cache
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa03_04DelegadoSencillo.assets.cache
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa03_04DelegadoSencillo.csproj.AssemblyReference.cache
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa03_04DelegadoSencillo.csproj.CoreCompileInputs.cache
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa03_04DelegadoSencillo.csproj.FileListAbsolute.txt
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa03_04DelegadoSencillo.dll
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa03_04DelegadoSencillo.GeneratedMSBuildEditorConfig.editorconfig
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa03_04DelegadoSencillo.genruntimeconfig.cache
Programa02_04DelegadoSencillo/obj/Debug/net5.0/Programa03_04DelegadoSencillo.pdb
Programa02_04DelegadoSencillo/obj/Debug/net5.0/ref/Programa02_04DelegadoSencillo.dll
Programa02_04DelegadoSencillo/obj/Debug/net5.0/ref/Programa03_04DelegadoSencillo.dll
Programa02_05DelegadoRefri/bin/Debug/net5.0/Programa03_05DelegadoRefri.deps.json
Programa02_05DelegadoRefri/bin/Debug/net5.0/Programa03_05DelegadoRefri.dll
Programa02_05DelegadoRefri/bin/Debug/net5.0/Programa03_05DelegadoRefri.exe
Programa02_05DelegadoRefri/bin/Debug/net5.0/Programa03_05DelegadoRefri.pdb
Programa02_05DelegadoRefri/bin/Debug/net5.0/Programa03_05DelegadoRefri.runtimeconfig.dev.json
Programa02_05DelegadoRefri/bin/Debug/net5.0/Programa03_05DelegadoRefri.runtimeconfig.json
Programa02_05DelegadoRefri/bin/Debug/net5.0/ref/Programa03_05DelegadoRefri.dll
Programa02_05DelegadoRefri/obj/Programa02_05DelegadoRefri.csproj.nuget.dgspec.json
Programa02_05DelegadoRefri/obj/Programa02_05DelegadoRefri.csproj.nuget.g.props
Programa02_05DelegadoRefri/obj/Programa02_05DelegadoRefri.csproj.nuget.g.targets
Programa02_05DelegadoRefri/obj/Programa03_05DelegadoRefri.csproj.nuget.dgspec.json
Programa02_05DelegadoRefri/obj/Programa03_05DelegadoRefri.csproj.nuget.g.props
Programa02_05DelegadoRefri/obj/Programa03_05DelegadoRefri.csproj.nuget.g.targets
Programa02_05DelegadoRefri/obj/project.assets.json
Programa02_05DelegadoRefri/obj/project.nuget.cache
Programa02_05DelegadoRefri/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Programa02_05DelegadoRefri/obj/Debug/net5.0/apphost.exe
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa02_05DelegadoRefri.AssemblyInfo.cs
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa02_05DelegadoRefri.AssemblyInfoInputs.cache
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa02_05DelegadoRefri.assets.cache
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa02_05DelegadoRefri.csproj.AssemblyReference.cache
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa02_05DelegadoRefri.GeneratedMSBuildEditorConfig.editorconfig
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa03_05DelegadoRefri.AssemblyInfo.cs
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa03_05DelegadoRefri.AssemblyInfoInputs.cache
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa03_05DelegadoRefri.assets.cache
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa03_05DelegadoRefri.csproj.AssemblyReference.cache
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa03_05DelegadoRefri.csproj.CoreCompileInputs.cache
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa03_05DelegadoRefri.csproj.FileListAbsolute.txt
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa03_05DelegadoRefri.dll
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa03_05DelegadoRefri.GeneratedMSBuildEditorConfig.editorconfig
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa03_05DelegadoRefri.genruntimeconfig.cache
Programa02_05DelegadoRefri/obj/Debug/net5.0/Programa03_05DelegadoRefri.pdb
Programa02_05DelegadoRefri/obj/Debug/net5.0/ref/Programa03_05DelegadoRefri.dll
Programa02_06Delegados/obj/Programa02_06Delegados.csproj.nuget.dgspec.json
Programa02_06Delegados/obj/Programa02_06Delegados.csproj.nuget.g.props
Programa02_06Delegados/obj/Programa02_06Delegados.csproj.nuget.g.targets
Programa02_06Delegados/obj/Programa03_06Delegados.csproj.nuget.dgspec.json
Programa02_06Delegados/obj/Programa03_06Delegados.csproj.nuget.g.props
Programa02_06Delegados/obj/Programa03_06Delegados.csproj.nuget.g.targets
Programa02_06Delegados/obj/project.assets.json
Programa02_06Delegados/obj/project.nuget.cache
Programa02_06Delegados/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Programa02_06Delegados/obj/Debug/net5.0/Programa02_06Delegados.AssemblyInfo.cs
Programa02_06Delegados/obj/Debug/net5.0/Programa02_06Delegados.AssemblyInfoInputs.cache
Programa02_06Delegados/obj/Debug/net5.0/Programa02_06Delegados.assets.cache
Programa02_06Delegados/obj/Debug/net5.0/Programa02_06Delegados.csproj.AssemblyReference.cache
Programa02_06Delegados/obj/Debug/net5.0/Programa02_06Delegados.GeneratedMSBuildEditorConfig.editorconfig
Programa02_06Delegados/obj/Debug/net5.0/Programa03_06Delegados.AssemblyInfo.cs
Programa02_06Delegados/obj/Debug/net5.0/Programa03_06Delegados.AssemblyInfoInputs.cache
Programa02_06Delegados/obj/Debug/net5.0/Programa03_06Delegados.assets.cache
Programa02_06Delegados/obj/Debug/net5.0/Programa03_06Delegados.csproj.AssemblyReference.cache
Programa02_06Delegados/obj/Debug/net5.0/Programa03_06Delegados.GeneratedMSBuildEditorConfig.editorconfig
Programa03_01Indexer/bin/Debug/net5.0/Programa03_01Indexer.deps.json
Programa03_01Indexer/bin/Debug/net5.0/Programa03_01Indexer.dll
Programa03_01Indexer/bin/Debug/net5.0/Programa03_01Indexer.exe
Programa03_01Indexer/bin/Debug/net5.0/Programa03_01Indexer.pdb
Programa03_01Indexer/bin/Debug/net5.0/Programa03_01Indexer.runtimeconfig.dev.json
Programa03_01Indexer/bin/Debug/net5.0/Programa03_01Indexer.runtimeconfig.json
Programa03_01Indexer/bin/Debug/net5.0/ref/Programa03_01Indexer.dll
Programa03_02SobrecargaBinario/obj/Programa03_02SobrecargaBinario.csproj.nuget.dgspec.json
Programa03_02SobrecargaBinario/obj/Programa03_02SobrecargaBinario.csproj.nuget.g.props
Programa03_02SobrecargaBinario/obj/Programa03_02SobrecargaBinario.csproj.nuget.g.targets
Programa03_02SobrecargaBinario/obj/project.assets.json
Programa03_02SobrecargaBinario/obj/project.nuget.cache
Programa03_02SobrecargaBinario/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Programa03_02SobrecargaBinario/obj/Debug/net5.0/apphost.exe
Programa03_02SobrecargaBinario/obj/Debug/net5.0/Programa03_02SobrecargaBinario.AssemblyInfo.cs
Programa03_02SobrecargaBinario/obj/Debug/net5.0/Programa03_02SobrecargaBinario.AssemblyInfoInputs.cache
Programa03_02SobrecargaBinario/obj/Debug/net5.0/Programa03_02SobrecargaBinario.assets.cache
Programa03_02SobrecargaBinario/obj/Debug/net5.0/Programa03_02SobrecargaBinario.csproj.AssemblyReference.cache
Programa03_02SobrecargaBinario/obj/Debug/net5.0/Programa03_02SobrecargaBinario.csproj.CoreCompileInputs.cache
Programa03_02SobrecargaBinario/obj/Debug/net5.0/Programa03_02SobrecargaBinario.csproj.FileListAbsolute.txt
Programa03_02SobrecargaBinario/obj/Debug/net5.0/Programa03_02SobrecargaBinario.dll
Programa03_02SobrecargaBinario/obj/Debug/net5.0/Programa03_02SobrecargaBinario.GeneratedMSBuildEditorConfig.editorconfig
Programa03_02SobrecargaBinario/obj/Debug/net5.0/Programa03_02SobrecargaBinario.genruntimeconfig.cache
Programa03_02SobrecargaBinario/obj/Debug/net5.0/Programa03_02SobrecargaBinario.pdb
Programa03_02SobrecargaBinario/obj/Debug/net5.0/ref/Programa03_02SobrecargaBinario.dll
Programa03_03SobrecargaUnuarios/bin/Debug/net5.0/Programa03_03SobrecargaUnuarios.deps.json
Programa03_03SobrecargaUnuarios/bin/Debug/net5.0/Programa03_03SobrecargaUnuarios.dll
Programa03_03SobrecargaUnuarios/bin/Debug/net5.0/Programa03_03SobrecargaUnuarios.exe
Programa03_03SobrecargaUnuarios/bin/Debug/net5.0/Programa03_03SobrecargaUnuarios.pdb
Programa03_03SobrecargaUnuarios/bin/Debug/net5.0/Programa03_03SobrecargaUnuarios.runtimeconfig.dev.json
Programa03_03SobrecargaUnuarios/bin/Debug/net5.0/Programa03_03SobrecargaUnuarios.runtimeconfig.json
Programa03_03SobrecargaUnuarios/bin/Debug/net5.0/ref/Programa03_03SobrecargaUnuarios.dll
Programa03_03SobrecargaUnuarios/obj/Programa03_03SobrecargaUnuarios.csproj.nuget.dgspec.json
Programa03_03SobrecargaUnuarios/obj/Programa03_03SobrecargaUnuarios.csproj.nuget.g.props
Programa03_03SobrecargaUnuarios/obj/Programa03_03SobrecargaUnuarios.csproj.nuget.g.targets
Programa03_03SobrecargaUnuarios/obj/project.assets.json
Programa03_03SobrecargaUnuarios/obj/project.nuget.cache
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/apphost.exe
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/Programa03_03SobrecargaUnuarios.AssemblyInfo.cs
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/Programa03_03SobrecargaUnuarios.AssemblyInfoInputs.cache
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/Programa03_03SobrecargaUnuarios.assets.cache
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/Programa03_03SobrecargaUnuarios.csproj.AssemblyReference.cache
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/Programa03_03SobrecargaUnuarios.csproj.CoreCompileInputs.cache
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/Programa03_03SobrecargaUnuarios.csproj.FileListAbsolute.txt
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/Programa03_03SobrecargaUnuarios.dll
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/Programa03_03SobrecargaUnuarios.GeneratedMSBuildEditorConfig.editorconfig
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/Programa03_03SobrecargaUnuarios.genruntimeconfig.cache
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/Programa03_03SobrecargaUnuarios.pdb
Programa03_03SobrecargaUnuarios/obj/Debug/net5.0/ref/Programa03_03SobrecargaUnuarios.dll
Programa04_01SerializacionBinaria/bin/Debug/net5.0/Autos.aut
Programa04_01SerializacionBinaria/bin/Debug/net5.0/Programa04_01SerializacionBinaria.deps.json
Programa04_01SerializacionBinaria/bin/Debug/net5.0/Programa04_01SerializacionBinaria.dll
Programa04_01SerializacionBinaria/bin/Debug/net5.0/Programa04_01SerializacionBinaria.exe
Programa04_01SerializacionBinaria/bin/Debug/net5.0/Programa04_01SerializacionBinaria.pdb
Programa04_01SerializacionBinaria/bin/Debug/net5.0/Programa04_01SerializacionBinaria.runtimeconfig.dev.json
Programa04_01SerializacionBinaria/bin/Debug/net5.0/Programa04_01SerializacionBinaria.runtimeconfig.json
Programa04_01SerializacionBinaria/bin/Debug/net5.0/ref/Programa04_01SerializacionBinaria.dll
Programa04_01SerializacionBinaria/obj/Programa04_01SerializacionBinaria.csproj.nuget.dgspec.json
Programa04_01SerializacionBinaria/obj/Programa04_01SerializacionBinaria.csproj.nuget.g.props
Programa04_01SerializacionBinaria/obj/Programa04_01SerializacionBinaria.csproj.nuget.g.targets
Programa04_01SerializacionBinaria/obj/project.assets.json
Programa04_01SerializacionBinaria/obj/project.nuget.cache
Programa04_01SerializacionBinaria/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Programa04_01SerializacionBinaria/obj/Debug/net5.0/apphost.exe
Programa04_01SerializacionBinaria/obj/Debug/net5.0/Programa04_01SerializacionBinaria.AssemblyInfo.cs
Programa04_01SerializacionBinaria/obj/Debug/net5.0/Programa04_01SerializacionBinaria.AssemblyInfoInputs.cache
Programa04_01SerializacionBinaria/obj/Debug/net5.0/Programa04_01SerializacionBinaria.assets.cache
Programa04_01SerializacionBinaria/obj/Debug/net5.0/Programa04_01SerializacionBinaria.csproj.AssemblyReference.cache
Programa04_01SerializacionBinaria/obj/Debug/net5.0/Programa04_01SerializacionBinaria.csproj.CoreCompileInputs.cache
Programa04_01SerializacionBinaria/obj/Debug/net5.0/Programa04_01SerializacionBinaria.csproj.FileListAbsolute.txt
Programa04_01SerializacionBinaria/obj/Debug/net5.0/Programa04_01SerializacionBinaria.dll
Programa04_01SerializacionBinaria/obj/Debug/net5.0/Programa04_01SerializacionBinaria.GeneratedMSBuildEditorConfig.editorconfig
Programa04_01SerializacionBinaria/obj/Debug/net5.0/Programa04_01SerializacionBinaria.genruntimeconfig.cache
Programa04_01SerializacionBinaria/obj/Debug/net5.0/Programa04_01SerializacionBinaria.pdb
Programa04_01SerializacionBinaria/obj/Debug/net5.0/ref/Programa04_01SerializacionBinaria.dll
Programa03_01Indexer/obj/Programa03_01Indexer.csproj.nuget.dgspec.json
Programa03_01Indexer/obj/Programa03_01Indexer.csproj.nuget.g.props
Programa03_01Indexer/obj/Programa03_01Indexer.csproj.nuget.g.targets
Programa03_01Indexer/obj/project.assets.json
Programa03_01Indexer/obj/project.nuget.cache
Programa03_01Indexer/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Programa03_01Indexer/obj/Debug/net5.0/apphost.exe
Programa03_01Indexer/obj/Debug/net5.0/Programa03_01Indexer.AssemblyInfo.cs
Programa03_01Indexer/obj/Debug/net5.0/Programa03_01Indexer.AssemblyInfoInputs.cache
Programa03_01Indexer/obj/Debug/net5.0/Programa03_01Indexer.assets.cache
Programa03_01Indexer/obj/Debug/net5.0/Programa03_01Indexer.csproj.AssemblyReference.cache
Programa03_01Indexer/obj/Debug/net5.0/Programa03_01Indexer.csproj.CoreCompileInputs.cache
Programa03_01Indexer/obj/Debug/net5.0/Programa03_01Indexer.csproj.FileListAbsolute.txt
Programa03_01Indexer/obj/Debug/net5.0/Programa03_01Indexer.dll
Programa03_01Indexer/obj/Debug/net5.0/Programa03_01Indexer.GeneratedMSBuildEditorConfig.editorconfig
Programa03_01Indexer/obj/Debug/net5.0/Programa03_01Indexer.genruntimeconfig.cache
Programa03_01Indexer/obj/Debug/net5.0/Programa03_01Indexer.pdb
Programa03_01Indexer/obj/Debug/net5.0/ref/Programa03_01Indexer.dll
Programa03_02SobrecargaBinario/bin/Debug/net5.0/Programa03_02SobrecargaBinario.deps.json
Programa03_02SobrecargaBinario/bin/Debug/net5.0/Programa03_02SobrecargaBinario.dll
Programa03_02SobrecargaBinario/bin/Debug/net5.0/Programa03_02SobrecargaBinario.exe
Programa03_02SobrecargaBinario/bin/Debug/net5.0/Programa03_02SobrecargaBinario.pdb
Programa03_02SobrecargaBinario/bin/Debug/net5.0/Programa03_02SobrecargaBinario.runtimeconfig.dev.json
Programa03_02SobrecargaBinario/bin/Debug/net5.0/Programa03_02SobrecargaBinario.runtimeconfig.json
Programa03_02SobrecargaBinario/bin/Debug/net5.0/ref/Programa03_02SobrecargaBinario.dll
ejemplo/bin/Debug/net5.0/ejemplo.deps.json
ejemplo/bin/Debug/net5.0/ejemplo.dll
ejemplo/bin/Debug/net5.0/ejemplo.exe
ejemplo/bin/Debug/net5.0/ejemplo.pdb
ejemplo/bin/Debug/net5.0/ejemplo.runtimeconfig.dev.json
ejemplo/bin/Debug/net5.0/ejemplo.runtimeconfig.json
ejemplo/bin/Debug/net5.0/ref/ejemplo.dll
ejemplo/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ejemplo/obj/Debug/net5.0/apphost.exe
ejemplo/obj/Debug/net5.0/ejemplo.AssemblyInfo.cs
ejemplo/obj/Debug/net5.0/ejemplo.AssemblyInfoInputs.cache
ejemplo/obj/Debug/net5.0/ejemplo.assets.cache
ejemplo/obj/Debug/net5.0/ejemplo.csproj.AssemblyReference.cache
ejemplo/obj/Debug/net5.0/ejemplo.csproj.CoreCompileInputs.cache
ejemplo/obj/Debug/net5.0/ejemplo.csproj.FileListAbsolute.txt
ejemplo/obj/Debug/net5.0/ejemplo.dll
ejemplo/obj/Debug/net5.0/ejemplo.GeneratedMSBuildEditorConfig.editorconfig
ejemplo/obj/Debug/net5.0/ejemplo.genruntimeconfig.cache
ejemplo/obj/Debug/net5.0/ejemplo.pdb
ejemplo/obj/Debug/net5.0/ref/ejemplo.dll
ejemplo/obj/ejemplo.csproj.nuget.dgspec.json
ejemplo/obj/ejemplo.csproj.nuget.g.props
ejemplo/obj/ejemplo.csproj.nuget.g.targets
ejemplo/obj/project.assets.json
ejemplo/obj/project.nuget.cache
